.container-fluid{
    background-color: #F5F0BB;
  }
.pb-10{
  padding-bottom: 15.5%;
}
.pt-7{
  padding-top: 10%;
}
.logo{
  height: 90vh;
}
.filter-div:hover{
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border-radius: 10px;
}
