.org-edit-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.org-name{
    border-radius: 9px;

}
@media screen and (min-width: 770px) {
    .mediaquery-770{
        width: 50%;
        margin-right: 25%;
    }
}