.etiquettes{
    margin: 2.5%;
    font-size: 1.8em;
    font-weight: 700;
}
.enregistrer{
    margin-left: -100px !important;
}
.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
}